.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 95vh;
}

.intro .header-box {
    border-top: 2px solid var(--secondary-main);
    border-bottom: 2px solid var(--secondary-main);
    text-transform: uppercase;
    text-align: center;
}

.intro .icons {
    display: flex;
    gap: clamp(10px, 1.5vw, 20px);
}

.intro .icon {
    border-radius: 50%;
    padding: 17px 20px;
}

@media only screen and (max-width: 768px) {
    .intro .icon {
        border-radius: 50%;
        padding: 8px 13px;
    }
}



