html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.horizontal-line {
    flex-grow: 1;
    border-bottom: 1px solid var(--secondary-main);
}

.section-container {
    width: 1024px;
}

.crate {
    border-radius: 10px;
    padding: 20px;
    background: var(--background-gradient);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.crate:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

h2 {
    font-size: 70px !important;
}

h4 {
    font-size: 30px !important;
}

h6 {
    font-family: system-ui !important;
    font-size: 22px !important;
}

p {
    font-size: 18px !important;
}

.big-icons {
    font-size: 30px;
}

.medium-icons {
    font-size: 25px;
}

@media only screen and (max-width: 1024px) {
    .section-container {
        width: 768px;
    }
    .crate {
        padding: 15px;
    }
    h2 {
        font-size: 60px !important;
    }

    h4 {
        font-size: 25px !important;
    }

    h6 {
        font-size: 20px !important;
    }
    
    p {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-container {
        width: 90%;
    }
    .crate:hover {
        transform: translateY(-2px);
    }
    h2 {
        font-size: clamp(35px, 10vw, 60px) !important;
    }

    h4 {
        font-size: 20px !important;
    }

    h6 {
        font-size: 18px !important;
    }

    p {
        font-size: 16px !important;
    }
    .big-icons {
        font-size: 25px;
    }
    .medium-icons {
        font-size: 25px;
    }
    .title {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 425px) {

    h6 {
        font-size: 16px !important;
    }

    p {
        font-size: 16px !important;
    }
    .title {
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .big-icons {
        font-size: 20px;
    }
    .medium-icons {
        font-size: 20px;
    }
}